.main {
  padding-top: 16vh;
}

.content {
  display: flex;
  justify-content: center;
  position: relative;

  &--wrap {
    text-align: center;
    padding-top: 2rem;
  }

  &--imageLogo {
    height: 10rem;
  }

  &--mt-2 {
    margin-top: 2rem;
  }

  &--m-2 {
    margin: 2rem;
  }

  &--title {
    font-size: 1.5rem;
    font-style: italic;
  }


  &--links {
    margin: 1rem;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  &--absolute-links {
    text-align: center;
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
}

@media screen and (max-width: 996px) {
  .main {
    padding-top: 8vh;
  }

}

@media only screen and (max-width: 600px) {
  .header {
    &--links {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
